<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.4/css/uikit-core-rtl.min.css" integrity="sha256-DHInYNupVwyEiPCdLarD3LaI5ywtIwBZcFUsFaBZsQo=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
  </head>
  <body>
    <h1 class="uk-text-center uk-navbar-container uk-padding title">Exploitation de l'API tmbd</h1>
    <div class="uk-flex uk-flex-between">
      {% block nav %}
      <nav class="nav uk-navbar-container uk-padding uk-navbar uk-width-1-5" >
        <div class="uk-navbar-start uk-flex">
            <ul class="uk-navbar-nav uk-flex uk-flex-column ">
                <li class="uk-active">
                  <label class="label">Recherche par titre</label>
                  <form method="post" action="/">
                    <input type="text" name="search">
                    <input type="submit">
                  </form>
                </li>
                <li class="ligne"></li>
                <li>
                  <label class="label">Recherche par acteur ou réalisateur</label>
                  <form method="post" action="/actorFind">
                    <input type="text" name="search">
                    <input type="submit">
                  </form></li>
                </li>
                <li class="ligne"></li>
                <li>
                  <label class="label">Recherche par date</label>
                  <form method="post" action="/year">
                    <p>
                      <!-- <label for="">de</label> -->
                      de <input type="date" name="dateDeb">
                    </p>
                    <p>
                      <!-- <label for="">à</label> -->
                      à <input type="date" name="dateFin">
                    </p>
                    <label for="">rechercher en france</label>
                    <input type="checkbox" name="fr" value="FR">
                    <input type="submit">
                  </form>
                </li>
                <li class="ligne"></li>
                <li><a href="/now">Actuellement en france</a></li>
            </ul>
    
        </div>
    </nav>
      
      {% endblock %}
      <div class="nav">
        {% block body %}{% endblock %}
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="/scripts/jq-paginator.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.4/js/uikit.min.js" integrity="sha256-8QekXFS5Mxv+c4TrPQY01b+3GUCDKMEtUT4hwe79u+U=" crossorigin="anonymous"></script>
    <script src="/scripts/script.js"></script>
  </body>
</html>
