<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.5.4/css/uikit-core-rtl.min.css" integrity="sha256-DHInYNupVwyEiPCdLarD3LaI5ywtIwBZcFUsFaBZsQo=" crossorigin="anonymous" />
  </head>
  <body>
    {% block nav %}
    <nav class="uk-navbar-container" uk-navbar>
      <div class="uk-navbar-left">
          <ul class="nav uk-navbar-nav uk-flex uk-flex-between">
              <li class="uk-active">
                <label>Recherche par titre</label>
                <form method="post" action="/">
                  <input type="text" name="search">
                  <input type="submit">
                </form></li>
              <li>
                <label>Recherche par acteur ou réalisateur</label>
                <form method="post" action="/actor">
                  <input type="text" name="search">
                  <input type="submit">
                </form></li>
              </li>
              <li>
                <label>Recherche par date</label>
                <form method="post" action="/year">
                  <label for="">de</label>
                  <input type="date" name="dateDeb">
                  <label for="">à</label>
                  <input type="date" name="dateFin">
                  <input type="submit">
                </form></li>
              </li>
          </ul>
  
      </div>
  </nav>
    
    {% endblock %}
    {% block body %}{% endblock %}
  </body>
</html>
