body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.affiche{
  width: 100px;
}
.nav{
  width: 100%;
}
.pad{
  padding: 0 1em;
  width: 75%;
}
.detAff{
  padding: 1em 0;
}
.photo{
  width: 20%;
  border: 1px solid #aaa;
  margin-bottom: 1em;
  padding: 1em;
}
.label{
  width: 100%;
  display: inline-block;
  text-align: center;
}
form{
  margin: auto;
  width: 90%;
}
.none{
  margin: 3em auto;
  display: block;
}
